In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

In [2]:
data = pd.DataFrame({
    'edad': [22, 45, 36, 29, 58],
    'género': ['F', 'M', 'M', 'F', 'M'],
    'contratado': [1, 0, 1, 0, 1]
})
data

   edad género  contratado
0    22      F           1
1    45      M           0
2    36      M           1
3    29      F           0
4    58      M           1

In [4]:
agrupado = data.groupby('género')

In [5]:
for nombre, grupo in agrupado:
    print(nombre, grupo)

F    edad género  contratado
0    22      F           1
3    29      F           0
M    edad género  contratado
1    45      M           0
2    36      M           1
4    58      M           1

In [7]:
data_balanceada = pd.DataFrame()

In [8]:
for nombre, grupo in agrupado:
    grupo_balanceado = resample(grupo, 
                                replace=True,
                                n_samples=10,
                                random_state=123)
    data_balanceada = pd.concat([data_balanceada, grupo_balanceado])

In [9]:
data_balanceada

   edad género  contratado
0    22      F           1
3    29      F           0
0    22      F           1
0    22      F           1
0    22      F           1
0    22      F           1
0    22      F           1
3    29      F           0
3    29      F           0
0    22      F           1
4    58      M           1
2    36      M           1
4    58      M           1
4    58      M           1
1    45      M           0
4    58      M           1
4    58      M           1
2    36      M           1
4    58      M           1
2    36      M           1