In [1]:
import pandas as pd
import uuid
import hashlib

In [2]:
data = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

data

  nombre             email ubicacion
0    Ana   ana@example.com  Ciudad A
1   Juan  juan@example.com  Ciudad B
2   Luis  luis@example.com  Ciudad C