In [1]:
import pandas as pd
import uuid #!crea identificadores unicos
import hashlib

In [2]:
data = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

data

  nombre             email ubicacion
0    Ana   ana@example.com  Ciudad A
1   Juan  juan@example.com  Ciudad B
2   Luis  luis@example.com  Ciudad C

In [3]:
id_pseudo = []

In [4]:
for i in range(len(data)):
    # Generar un UUID
    id_pseudo.append(str(uuid.uuid4()))
    
id_pseudo

['0b96d12e-12e8-4a34-939f-656ff3196048',
 'e659ec08-2948-4d25-97c2-7a592b27dba7',
 '783aa288-0161-4b79-bbbc-06799e780218']

In [5]:
data['id_pseudo'] = id_pseudo
data.drop('nombre', axis=1, inplace=True)

In [6]:
data

              email ubicacion                             id_pseudo
0   ana@example.com  Ciudad A  0b96d12e-12e8-4a34-939f-656ff3196048
1  juan@example.com  Ciudad B  e659ec08-2948-4d25-97c2-7a592b27dba7
2  luis@example.com  Ciudad C  783aa288-0161-4b79-bbbc-06799e780218

In [7]:
def hash_data(data):
    return hashlib.sha256(data.encode()).hexdigest()

In [8]:
hash_email = []

In [9]:
for email in data['email']:
    h_email = hash_data(email)
    hash_email.append(h_email)
data['email'] = hash_email

In [10]:
data

,email,ubicacion,id_pseudo
0,8e43ca37701228e74983efdbd0cff5c16b3b1e5d4e29a7...,Ciudad A,0b96d12e-12e8-4a34-939f-656ff3196048
1,81b562a0fe2aecc8831e2d7c9942f319736afc2a99415e...,Ciudad B,e659ec08-2948-4d25-97c2-7a592b27dba7
2,861d62c5b964e71b42e61aeb4e876f86908a86300b15b2...,Ciudad C,783aa288-0161-4b79-bbbc-06799e780218

In [11]:
mis_tokens = {}

In [15]:
def tokenizar(data):
    token = str(uuid.uuid4())
    mis_tokens[token] = data
    return token

In [13]:
def recuperar_dato(token):
    return  mis_tokens.get(token, "Token no encontrado")

In [16]:
dato_original = "123-456-789"
token = tokenizar(dato_original)

In [ ]:
print(f"Token generado: {token}")
print(f"Dato original: {dato_original}")

Token generado: 2a887463-7148-476d-b35c-629ee5e7039b
Dato original: 123-456-789