In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Col1': [100, 200, 300,23],
    'Col2': [400, 500, 600,212],
    'Col3': [700, 800, 900,666],
    'Col4': [1000,1100,1200,67676]
}, index=['fila1', 'fila2', 'fila3','fila4'])

df

       Col1  Col2  Col3   Col4
fila1   100   400   700   1000
fila2   200   500   800   1100
fila3   300   600   900   1200
fila4    23   212   666  67676

In [3]:
df.loc['fila1']

Col1     100
Col2     400
Col3     700
Col4    1000
Name: fila1, dtype: int64

In [4]:
df.loc[['fila1', 'fila3']]

       Col1  Col2  Col3  Col4
fila1   100   400   700  1000
fila3   300   600   900  1200

In [5]:
df.loc['fila1':'fila3']

       Col1  Col2  Col3  Col4
fila1   100   400   700  1000
fila2   200   500   800  1100
fila3   300   600   900  1200

In [6]:
df.loc[[False, True, False, True]]

       Col1  Col2  Col3   Col4
fila2   200   500   800   1100
fila4    23   212   666  67676

In [8]:
df.loc[df['Col1'] > 150]

       Col1  Col2  Col3  Col4
fila2   200   500   800  1100
fila3   300   600   900  1200

In [9]:
df.loc[:, ['Col1', 'Col3']]

       Col1  Col3
fila1   100   700
fila2   200   800
fila3   300   900
fila4    23   666

In [10]:
df.iloc[0]

Col1     100
Col2     400
Col3     700
Col4    1000
Name: fila1, dtype: int64

In [11]:
df.iloc[:, [0,1]]

       Col1  Col2
fila1   100   400
fila2   200   500
fila3   300   600
fila4    23   212

In [12]:
df.iloc[1:3]

       Col1  Col2  Col3  Col4
fila2   200   500   800  1100
fila3   300   600   900  1200