In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Nombre': ["Juan", "Gabriela", "Elena"], 'Edad': [23, 31, 21]})
df1

     Nombre  Edad
0      Juan    23
1  Gabriela    31
2     Elena    21

In [3]:
df2 = pd.DataFrame({'Nombre': ["Carmela", "Max", "Laura"], 'Edad': [34, 25, 29]})
df2

    Nombre  Edad
0  Carmela    34
1      Max    25
2    Laura    29

In [5]:
df_concatenados = pd.concat([df1, df2])
df_concatenados

     Nombre  Edad
0      Juan    23
1  Gabriela    31
2     Elena    21
0   Carmela    34
1       Max    25
2     Laura    29

In [6]:
df_concatenados = pd.concat([df1, df2], ignore_index = True)
df_concatenados

     Nombre  Edad
0      Juan    23
1  Gabriela    31
2     Elena    21
3   Carmela    34
4       Max    25
5     Laura    29

In [7]:
df_concatenados = pd.concat([df1, df2], axis = 1)
df_concatenados

     Nombre  Edad   Nombre  Edad
0      Juan    23  Carmela    34
1  Gabriela    31      Max    25
2     Elena    21    Laura    29

In [9]:
df_concatenados = pd.concat([df1, df2], keys = [df1, df2])
df_concatenados

TypeError: unhashable type: 'DataFrame'