In [1]:
import pandas as pd

In [2]:
ruta = 'Top-Películas.csv'
df = pd.read_csv(ruta)

In [3]:
df

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
3,3,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Acción,9.0,84.0,534.86
4,4,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Crimen,9.0,84.0,534.86
...,...,...,...,...,...,...,...,...,...,...
2527,2527,998.0,The Invisible Man,James Whale,1933.0,71.0,Terror,7.6,87.0,0.00
2528,2528,998.0,The Invisible Man,James Whale,1933.0,71.0,Ciencia Ficción,7.6,87.0,0.00
2529,2529,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Acción,7.6,0.0,0.00
2530,2530,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Crimen,7.6,0.0,0.00
2531,2531,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Drama,7.6,0.0,0.00

In [4]:
df_orden_año = df.sort_values(by = 'año')
df_orden_año

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
1068,1068,425.0,The Cabinet of Dr. Caligari,Robert Wiene,1920.0,67.0,Misterio,8.0,0.0,0.00
1069,1069,425.0,The Cabinet of Dr. Caligari,Robert Wiene,1920.0,67.0,Thriller,8.0,0.0,0.00
1067,1067,425.0,The Cabinet of Dr. Caligari,Robert Wiene,1920.0,67.0,Terror,8.0,0.0,0.00
340,340,135.0,The Kid,Charles Chaplin,1921.0,68.0,Familiar,8.3,0.0,5.45
339,339,135.0,The Kid,Charles Chaplin,1921.0,68.0,Drama,8.3,0.0,5.45
...,...,...,...,...,...,...,...,...,...,...
2048,"2048,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,"2049,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2138,"2138,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2139,"2139,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,"2140,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_orden_rating_año = df.sort_values(by = ['rating', 'año'], ascending = False)
df_orden_rating_año

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
3,3,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Acción,9.0,84.0,534.86
4,4,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Crimen,9.0,84.0,534.86
...,...,...,...,...,...,...,...,...,...,...
2048,"2048,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,"2049,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2138,"2138,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2139,"2139,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,"2140,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
promedio_rating_por_genero = df.groupby('género')['rating'].mean()
promedio_rating_por_genero

género
Acción             7.987255
Animación          7.943902
Aventura           7.980435
Biografía          7.971698
Ciencia Ficción    7.986567
Comedia            7.909910
Crimen             7.993500
Deportes           7.980000
Drama              7.980444
Familiar           7.932692
Fantasía           7.929508
Film-Noir          7.977273
Guerra             8.053191
Historia           7.931818
Misterio           7.991262
Musica             7.909677
Musical            7.943750
Romance            7.937398
Terror             7.875758
Thriller           7.929286
Western            8.006250
Name: rating, dtype: float64