In [1]:
import pandas as pd

In [2]:
empleados = {"nombre" : ["Ana", "Luis", "Carlos"], "edad" : [30, 25, 40]}
empleados

{'nombre': ['Ana', 'Luis', 'Carlos'], 'edad': [30, 25, 40]}

In [3]:
df_empleados = pd.DataFrame(empleados)
df_empleados

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

In [4]:
edades = df_empleados.edad
edades

0    30
1    25
2    40
Name: edad, dtype: int64

In [5]:
type(edades)

pandas.core.series.Series

In [12]:
df_empleados.shape

(3, 2)

In [13]:
df_empleados.columns

Index(['nombre', 'edad'], dtype='object')

In [14]:
df_empleados.index

RangeIndex(start=0, stop=3, step=1)