In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

In [2]:
data = pd.DataFrame({
    'edad': [22, 45, 36, 29, 58],
    'género': ['F', 'M', 'M', 'F', 'M'],
    'contratado': [1, 0, 1, 0, 1]
})
data

   edad género  contratado
0    22      F           1
1    45      M           0
2    36      M           1
3    29      F           0
4    58      M           1